body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #111, #000);
    color: white;
    text-align: center;
}

h1 {
    color: #ffcc00;
    text-shadow: 0 0 15px #ffcc00;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #222;
}

.arena {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.unsorted-zone {
    width: 60%;
    min-height: 300px;
    border: 2px dashed #444;
    padding: 10px;
}

.sorted-zone {
    width: 30%;
}

.drop-zone {
    border: 2px solid #ffcc00;
    padding: 40px;
    margin: 20px 0;
    background: #222;
    cursor: pointer;
    transition: 0.3s;
}

.drop-zone:hover {
    background: #333;
}

.item {
    background: #ffcc00;
    color: black;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: grab;
    border-radius: 5px;
}

.item {
    background: #ffcc00;
    color: black;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.item:hover {
    transform: scale(1.1);
}

.selected {
    outline: 3px solid cyan;
}

.wrong {
    background: red !important;
}