body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 10;
}

canvas {
  display: block;
}