* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0f172a;
  color: white;
  overflow: hidden;
  transition: 0.4s ease;
}

body.light {
  background: #f3f4f6;
  color: #111;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 10;
}

canvas {
  display: block;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  color: black;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}


body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 30% 30%, #1e3a8a, transparent 60%),
              radial-gradient(circle at 70% 70%, #9333ea, transparent 60%);
  animation: floatBg 20s infinite alternate ease-in-out;
  z-index: -2;
}

@keyframes floatBg {
  from { transform: translate(0,0); }
  to { transform: translate(-120px,-100px); }
}

.modal-content {
  animation: popIn 0.4s ease;
}

@keyframes popIn {
  from { transform: scale(0.8); opacity:0; }
  to { transform: scale(1); opacity:1; }
}